@charset "UTF-8";
/* CSS Document */

*{
    margin: 0;
    padding: 0;
}



html{
    background-color: green;
}
body{
    width: 350px;
    background-color: #FFF;
}

.test{
    width: 750px;
    height: 100px;
    background-color: pink;
}
