@charset "UTF-8";
/* CSS Document */





*{
    margin: 0;
    padding: 0;
}


@media screen and (min-width: 481px){
    
    
    
    .test{
        background-color: red;
    }
}/*メディアクエリ----------------------------*/








@media screen and (max-width: 480px){
    
    
    
    .test{
        background-color: green;
    }
    
    
    
}/*メディアクエリ----------------------------*/
